body{
    margin: 0px;
    padding: 0px;
    font-family:sans-serif;
}

body a{
    text-decoration: none;
}

body a:hover{
    color: aquamarine;
}

.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1.6fr 1fr;
    grid-gap: 1px 1px;
    grid-template-areas: "side header header header" "side blok blok blok" "side blok blok blok";
}

.side { grid-area: side;
background-color: aliceblue;
    border-right: cornflowerblue solid 1px;
    height: 100vh;
}

.header { grid-area: header;
    height: 60px;
    background-color: darkgray;
}


.blok { grid-area: blok; }


#logout{
    width: 70px;
    height: 20px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: 50px;
    margin-top: 15px;
}
#logout a{
    color: white;
    font-weight: bolder;
    font-size: 1.5em;
}
#logout a:hover{
    color: aquamarine;
}